body {
    background-image: url("bg.jpg");
    background-size: cover;
    /* background: #1D1F28; */
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: Open Sans;
    font-size: 50pt;
    font-weight: 400;
    font-family: Open Sans;
    color: #FDFDFD;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100%;
    background-color: #2B3544;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #2B3544;
    border: solid 0px #2B3544;
    font-family: Open Sans;
    font-size: 15pt;
    color: #FDFDFD;
    outline: none;
    border-radius: 6px;
    margin-bottom: 1em;
    text-align: center;
}

.welcome-container {
    width: 30%;
    background-color: #2B3544;
    padding: 1em;
    border-radius: 6px;
    font-family: Open Sans;
    font-size: 13pt;
    font-weight: 500;
    color: #FDFDFD;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 55%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #2B3544;
    color: #BEBEC1;
    border-radius: 6px;
    font-family: Open Sans;
    font-size: 12pt;
    width: 25%;
    height: 10em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: hidden;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 13pt;
    font-weight: 500;
    color: #FDFDFD;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #BEBEC1;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #FDFDFD;
}
